* text=auto

*.php text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.dist text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.neon text eol=lf
*.txt text eol=lf

bin/testify text eol=lf
